<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <h1>Community</h1>
    </header>
    <main>
        <h2>커뮤니티 사이트에 오신 것을 환영한다구리</h2>
        <button class="joinBtn" onclick="location.href=`/join`">회원가입</button>
        <form action="/boards" method="post">
            <input type="text" name="user_id" placeholder="아이디를 입력하세요">
            <input type="password" name="user_pw" placeholder="비밀번호를 입력하세요">
            <button class="loginBtn"type="submit">로그인</button>
        </form>
    </main>
    <footer>
        2025년은 내 것
    </footer>
</body>
</html>