<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리스트페이지</title>
</head>
<body>
    <header>
        <h1>Community</h1>
    </header>
    <main>
        <h2>이곳은 게시판이다구리</h2>
        <div>
            <ul>
                {% for board in boards %}
                <li>
                    <a>{{ board.id }}</a>
                    <a href="/boards/view/{{ board.id }}">{{ board.title }}</a>
                    <a>{{ board.writer }}</a>
                </li>
                {% endfor %}
            </ul>
            <button onclick="location.href=`/boards/create`">글 작성</button>
        </div>

    </main>
    <footer>
        2025년은 내 것
    </footer>
</body>
</html>