<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
</head>
<body>
    <header>
        <h1>Community</h1>
    </header>
    <main>
        <h2>회원가입을 진행해달라 구리</h2>
        
        <form action="/join" method="post">
            <input type="text" name="user_id" placeholder="아이디를 입력하세요">
            <input type="text" name="user_pw" placeholder="비밀번호를 입력하세요">
            <input type="text" name="user_name" placeholder="이름을 입력하세요">
            <button class="joinBtn"type="submit">작성 완료</button>
        </form>

    </main>
    <footer>
        2025년은 내 것
    </footer>
</body>
</html>